[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flatten-dict = "*"
gym = "*"
hydra-core = "*"
omegaconf = "*"
wandb = "*"
transformers = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
sentence-transformers = "*"
nltk = "*"
stable-baselines3 = {extras = ["extra"], version = "*"}

[dev-packages]
pytest = "*"
matplotlib = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
